.popup__close {
  background-image: url(../../../images/CloseIcon.svg);
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-style: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 641px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

.popup__close:hover {
  opacity: 0.6;
}
