.element__trash {
  position: absolute;
  background-image: url(../../../images/trash.svg);
  width: 18px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.3 linear;
  z-index: 1;
  cursor: pointer;
  right: 20px;
  top: 20px;
}

.element__trash:hover {
  opacity: 0.6;
}

